<app-spinner *ngIf="isLoading"></app-spinner>
<div class="centered__div">
    <div class="modal__box">
        <h1 class="title">Create a new list</h1>
        <div class="form">
            <input #listTitleInput type="text" placeholder="Enter list name..." />

        </div>
        <div class="buttons">
            <button class="button margin-right" routerLink="/lists">Cancel</button>
            <button class="button primary" (click)="createList(listTitleInput.value)"> Submit </button>
        </div>

    </div>
</div>